.about {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding-top: 2.5rem;
  margin: 2rem auto;
}
.bio-photo,
.bio-text {
  box-sizing: border-box;
  width: 50%;
  min-height: 100%;
  display: flex;
}
.bio-photo {
  align-items: center;
  justify-content: center;
}
.bio-photo .border {
  max-width: 67%;
  box-sizing: border-box;
  border: 4px solid var(--accent);
  padding: 0.5rem;
  filter: grayscale(100%);
  transition: all var(--transitionTime);
}
.bio-photo .border:hover {
  filter: grayscale(0%);
}
.bio-photo img {
  max-width: 100%;
  box-sizing: border-box;
  display: block;
  border: 2px solid var(--accent);
  padding: 0.5rem;
}
.bio-text {
  flex-direction: column;
  justify-content: center;
  /* padding: 0 4rem 0 0; */
}
.bio-text h2 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 1rem;
  font-size: 1.5rem;
  letter-spacing: 0.1ch;
}
/* .bio-text h2 span {
   color: var(--accent); 
  border-bottom: 3px solid var(--accent);
} */
.bio-text p {
  margin: 0;
  width: 75%;
  font-size: 1.25rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1ch;
}
@media (max-width: 1024px) {
  .about {
    display: block;
  }
  .bio-photo {
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0 1rem;
    justify-content: center;
  }
  .bio-text {
    min-height: auto;
    display: block;
    width: 100%;
    height: auto;
    padding: 1rem;
  }
  .bio-text p {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .bio-photo .border {
    max-width: 100%;
  }
  .bio-text h2 {
    margin: 1em 0;
  }
}
