nav {
  width: 100vw;
  height: 4rem;
  background-color: var(--bg);
  padding: 3rem 1rem 1rem;
  margin: 0 auto;
  padding: 2rem 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#nav-header {
  display: flex;
  align-items: center;
}
#mobile-logo {
  color: var(--accent);
  display: none;
  width: 100%;
  text-align: center;
}
#logo {
  font-family: "Marzo";
  font-weight: bold;
  letter-spacing: 0.15ch;
  color: var(--accent);
  font-size: 2.8rem;
}
#nav-header a,
#nav-header a:visited {
  color: var(--text);
  text-decoration: none;
}
div.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}
#nav {
  list-style: none;
  padding-inline-start: 0;
  text-transform: uppercase;
  font-family: "Quattrocento", sans-serif;
  display: flex;
  width: 100%;
  margin-left: 5.125rem;
  justify-content: center;
  background-color: var(--bg);
}
#nav li {
  margin: 0 2rem;
  display: flex;
  align-items: center;
}
ul > a,
ul > a:visited {
  color: var(--text);
  text-decoration: none;
  transition: var(--transitionTime);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

ul > a:hover,
#nav svg:hover {
  color: var(--accent);
}
#nav svg {
  color: var(--text);
  font-size: 1.5rem;
  transition: var(--transitionTime);
  margin-right: 1rem;
}

#burger {
  display: none;
}

@media (max-width: 1024px) {
  nav {
    display: block;
    padding: 2rem 0;
    height: 4rem;
    width: 100vw;
    z-index: 10;
    padding: 1rem 0;
    position: fixed;
    top: 0;
  }
  #nav {
    display: block;
    margin: 0;
  }
  #nav-header {
    height: 100%;
    width: 100%;
    background-color: var(--bg);
  }
  #nav-header a {
    width: 100%;
    text-align: center;
    margin: 0 1em;
    font-size: 1.5rem;
  }
  #burger {
    display: block;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
  }
  #burger > div {
    width: 2.5rem;
    height: 2px;
    margin: 8px 0;
    opacity: 1;
    background-color: var(--text);
    transition: var(--transitionTime);
  }
  div.nav-content {
    display: block;
    text-align: center;
    width: 100vw;
    height: auto;
    margin: 0;
    transition: transform var(--transitionTime) ease;
    transform: translate(-100%, 1rem);
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    z-index: 100;
  }
  .nav-content ul {
    display: block;
    margin: 0;
    height: 100%;
    z-index: 1000;
  }
  .nav-content ul li {
    box-sizing: border-box;
    background-color: var(--bg);
    padding: 1rem 0;
    width: 100%;
    justify-content: center;
  }

  div.icons {
    background-color: var(--bg);
    text-align: center;
    transition: transform var(--transitionTime) ease;
    transform: translate(-100%, 1rem);
    padding: 1rem 0;
    position: relative;
    width: 100vw;
    z-index: 100;
  }

  div.nav-open {
    transform: translate(0, 1rem);
  }

  #nav svg {
    margin: 0 2rem;
  }
  li#icons {
    width: 100%;
    margin: 0;
  }
  .content {
    margin-left: 0;
    margin: 4rem 0;
    width: 100vw;
  }
  .nav-content ul li#logo {
    display: none;
  }
  #mobile-logo {
    display: inline-block;
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  #mobile-logo {
    font-size: 2.5rem;
  }
}
@media (max-width: 420px) {
  #mobile-logo {
    font-size: 2rem;
  }
}
