nav {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#nav-header {
  display: flex;
  align-items: center;
}
#nav-header h1 {
  margin: 0;
  width: 100%;
}
h1.logo {
  color: var(--accent);
}
div.nav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
ul#nav {
  list-style: none;
  padding-inline-start: 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
ul > li > a,
ul > li > a:visited {
  color: var(--text);
  text-decoration: none;
  transition: var(--transitionTime);
  font-size: 1.4rem;
}
ul > li > a:hover,
.icons svg:hover {
  color: var(--accent);
}
.icons svg {
  color: var(--text);
  margin-right: 1rem;
  font-size: 2.5em;
  transition: var(--transitionTime);
}

#c {
  margin: 12px 0;
  font-size: small;
}

#burger {
  display: none;
}

@media (max-width: 768px) {
  #nav-header h1 {
    text-align: center;
  }
  #burger {
    display: block;
    padding-left: 1rem;
    box-sizing: border-box;
  }
  #burger > div {
    width: 3rem;
    height: 4px;
    margin: 8px 0;
    opacity: 1;
    background-color: var(--text);
    transition: var(--transitionTime);
  }
  nav {
    height: 4rem;
    width: 100vw;
    z-index: 10;
    padding: 1rem 0;
  }
  .nav-content {
    align-items: center;
    background-color: var(--bg);
    margin: 0;
    transition: var(--transitionTime);
    transform: translateX(-100%);
  }
  .nav-content ul > li {
    margin: 2rem 0;
  }
  .nav-footer {
    background-color: var(--bg);
    text-align: center;
    transition: var(--transitionTime);
    transform: translateX(-100%);
  }

  .nav-open {
    transform: translateX(0);
  }

  .nav-footer svg {
    margin: 0 2rem;
  }
  .content {
    margin-left: 0;
    margin: 4rem 0;
    width: 100vw;
  }
}
