.press-container {
  width: 67%;
  min-height: calc(100vh - 4rem);
  padding: 2rem;
  columns: 3;
  column-gap: 2rem;
  box-sizing: border-box;
}
.press-link {
  max-width: 100%;
  height: auto;
  margin: 0 0 2rem 0;
  position: relative;
}
.press-link img {
  width: 100%;
  filter: grayscale(100%);
  transition: var(--transitionTime);
}
.press-link img:hover {
  filter: grayscale(0);
}
.press-link > .press-info {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  width: 100%;
  padding: 0 1rem;
}

@media (max-width: 1280px) {
  .press-container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .press-container {
    width: 75%;
    columns: 2;
  }
}

@media (max-width: 768px) {
  .press-container {
    columns: 1;
  }
}
@media (max-width: 512px) {
  .press-container {
    width: 100%;
  }
}
