.work {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  columns: 3;
  column-gap: 0.5rem;
}

.project {
  break-inside: avoid;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: relative;
  padding: 0.5rem;
  transition: var(--transitionTime);
  filter: grayscale(100%);
  margin-bottom: 0.5rem;
}

.project:hover {
  border: 4px solid var(--accent);
  filter: grayscale(0);
}
.project.no-border:hover {
  border: none;
}

.project img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  display: block;
  overflow-y: hidden;
  transition: var(--transitionTime);
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.project .info {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  width: calc(100% - 1rem);
  transition: var(--transitionTime);
  break-inside: avoid;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.project .info.no-name {
  display: none;
}

.project:hover .info {
  opacity: 1;
}

.project .info h2 {
  margin: 0;
  color: whitesmoke;
}
.info button {
  margin-top: 1rem;
  background-color: var(--accent);
}

@media (max-width: 1024px) {
  .work {
    columns: 2;
  }
}

@media (max-width: 768px) {
  .work {
    columns: 1;
  }
}
