.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.content {
  min-height: 100vh;
  width: 100%;
  margin-left: 240px;
  background-color: var(--bg);
}
@media (max-width: 768px) {
  .content {
    margin-top: 64px;
  }
}
