.App {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
}
.content {
  min-height: calc(100vh - 4rem);
  width: 100%;
  background-color: var(--bg);
}
@media (max-width: 768px) {
  .content {
    margin-top: 64px;
  }
}
