:root {
  --bg: #101011;
  --bgLt: #536a6e;
  --bgDk: #101011;
  --dark: #181a1b;
  --teal: #425558;
  --text: whitesmoke;
  --accent: #647f83;
  --link: rgb(245, 201, 135);
  --transitionTime: 400ms;
}
@font-face {
  font-family: "Marzo";
  src: url("marzo.ttf") format("truetype");
}
h1 {
  font-family: "Marzo", sans-serif;
  font-weight: bold;
}
h2 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  line-height: 1.4rem;
}
body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex-row {
  display: flex;
}
