:root {
  --bg: #101011;
  --text: whitesmoke;
  --accent: #3c988f;
  --secondary: rgb(85, 85, 85);
  --transitionTime: 400ms;
}
@font-face {
  font-family: "Marzo";
  src: url("marzo.ttf") format("truetype");
}
h1 {
  font-family: "Marzo", sans-serif;
  font-weight: bold;
}
h2 {
  font-family: "Quattrocento", serif;
}
p {
  font-family: "Quattrocento", serif;
  font-size: 1rem;
  line-height: 1.4rem;
}
body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  font-family: "Quattrocento", "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex-row {
  display: flex;
}
